{% extends "frontend/template.html.twig" %}
{% block title %} - Recherche{% endblock %}
{% block meta %}
    <meta name="description" content="Rechercher vos titres préférer parmi tout ceux présent sur notre site. Vous trouverez forcément votre bonheur, nous rajoutons régulièrement de nouveaux titre rien que pour vous.">
    <meta property="og:description" content="Rechercher vos titres préférer parmi tout ceux présent sur notre site. Vous trouverez forcément votre bonheur, nous rajoutons régulièrement de nouveaux titre rien que pour vous.">
    <meta property="og:title" content="{{parameterWebsite.nameWebsite}} - Recherche">
{% endblock %}
{% block body %}
    <section class="bg-search d-flex justify-end align-end">
        <h1>Recherche</h1>
    </section>
    <main class="py-2">
        <nav class="breadcrumb"><a href="{{path('home')}}" class="breadcrumb-link">Accueil</a> / Recherche</nav>
        <h2>Résultat de la recherche</h2>
        <section class="container">
            {% include "frontend/_partials/_form_search.html.twig" with {'form':searchForm} %}
            <div class="container-card-collection">
                {% if collections|length > 0 %}
                    {% for collection in collections|sort((a, b) => a.name <=> b.name) %}
                        {% include "frontend/_partials/_card_collection.html.twig" with {'collection':collection,'category':collection.categoryCollection} %}
                    {% endfor %}
                {% else %}
                  <p>Aucun résultat trouvé pour cette recherche</p> 
                {% endif %}
            </div>
            {% if nextCollections or start > 0 %}
                <div class="d-flex justify-center flex-wrap">
                    {% if start > 0 %}
                        <a href="{{path('search_collection',{'termSearch':termSearch,'categorySearch':categorySearch,'genreSearch':genreSearch,'start':start - limit}) }}" class="btn btn-crimson mx-1"><i class=" feather-arrow-left"></i></a>
                    {% else %}
                        <button class="btn btn-crimson-disabled mx-1"><i class=" feather-arrow-left"></i></button>
                    {% endif %}
                    {% for numberPagination in 1..numberPaginations %}
                        {% set numberStart = limit * (numberPagination - 1) %}
                        {% if start == numberStart %}
                            <button class="btn btn-crimson-disabled mx-1">{{numberPagination}}</button>
                        {% else %}
                            <a href="{{path('search_collection',{'termSearch':termSearch,'categorySearch':categorySearch,'genreSearch':genreSearch,'start':limit * (numberPagination - 1)}) }}" class="btn btn-crimson mx-1">{{numberPagination}}</a>
                        {% endif %}
                    {% endfor %}
                    {% if nextCollections %}
                        <a href="{{path('search_collection',{'termSearch':termSearch,'categorySearch':categorySearch,'genreSearch':genreSearch,'start':start + limit}) }}" class="btn btn-crimson mx-1"><i class="feather-arrow-right"></i></a>
                    {% else %}
                        <button class="btn btn-crimson-disabled mx-1"><i class=" feather-arrow-right"></i></button>
                    {% endif %}
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}